.new-expense {
  background-color: #b7cae2;
  padding: 2rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #2a2a2a;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: none;
  color: white;
  border-radius: 12px;
  margin-left: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #334a67;
}

.new-expense button.alternative {
  color: #2a2a2a;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #2a2a2a;
}
